@using DiplomaWebService.Common.Enum
@using DiplomaWebService.Models.ViewModel
@model UnitViewModel
@{
}

<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Одиниці виміру</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		@if (Model.RoleId == (int)Roles.Viewer)
		{
			<button type="add-user" class="btn btn-add-user" onclick="openModalForm('addUnitForm')" disabled>
				<img src="img/plus.svg">Додати
			</button>
		}
		else
		{
			<button type="add-user" class="btn btn-add-user" onclick="openModalForm('addUnitForm')">
				<img src="img/plus.svg">Додати
			</button>
		}
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" placeholder="Пошук..." onkeydown="searchUnits(event)">
			@* <img src="img/filtr.svg"> *@
		</div>
	</nav>
</div>
<div class="users-table-content">
	<table>
		<thead>
			<tr>
				<th hidden>UnitId</th>
				<th>Назва</th>
				<th>Опис</th>
			</tr>
		</thead>
		<tbody id="unitsList" class="scroll">
			@Html.Partial("/Views/Dictionaries/Units/_UnitsList.cshtml", @Model.Units)
		</tbody>
	</table>
</div>
@Html.Partial("/Views/Forms/UnitForm/AddUnit.cshtml")