@using DiplomaWebService.Common.Enum
@using DiplomaWebService.Models.ViewModel;
@model ItemViewModel
@{
}

<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Майно</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		@if (Model.RoleId == (int)Roles.Viewer)
		{
			<button type="button" class="btn btn-add-user" onclick="openModalForm('addItemForm')" disabled>
				<img src="img/plus.svg">Додати
			</button>
		}
		else
		{
			<button type="button" class="btn btn-add-user" onclick="openModalForm('addItemForm')">
				<img src="img/plus.svg">Додати
			</button>
		}
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук..." onkeydown="searchItems(event)">
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
	<table>
		<thead>
			<tr>
				<th hidden>itemId</th>
				<th>Назва</th>
				<th>Номенклатурний номер</th>
				<th hidden>unitId</th>
				<th>Одиниці виміру</th>
				<th hidden>sectorId</th>
				<th>Назва служби</th>
				<th>Штат</th>
				<th>Вага</th>
				<th>Опис</th>
			</tr>
		</thead>
	</table>
	<div class="scroll">
		<table>
			<thead>
				<tr>
					<th hidden>itemId</th>
					<th>Назва</th>
					<th>Номенклатурний номер</th>
					<th hidden>unitId</th>
					<th>Одиниці виміру</th>
					<th hidden>sectorId</th>
					<th>Назва служби</th>
					<th>Штат</th>
					<th>Вага</th>
					<th>Опис</th>
				</tr>
			</thead>
			<tbody id="itemsList" class="scroll">
				@Html.Partial("/Views/Dictionaries/Items/_ItemsList.cshtml", @Model.Items)
			</tbody>
		</table>
	</div>
</div>
@Html.Partial("/Views/Forms/ItemForm/AddItem.cshtml", @Model)