@using DiplomaWebService.Common.Enum
@using DiplomaWebService.Models.ViewModel;
@model ItemViewModel
@{
}

<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Майно</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		@if (Model.RoleId == (int)Roles.Viewer)
		{
			<button type="button" class="btn btn-add-user" onclick="openModalForm('addItemForm')" disabled>
				<img src="img/plus.svg">Додати
			</button>
		}
		else
		{
			<button type="button" class="btn btn-add-user" onclick="openModalForm('addItemForm')">
				<img src="img/plus.svg">Додати
			</button>
		}
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук..." onkeydown="searchItems(event)">
			<button onclick="openFilter()">
				<img src="img/filtr.svg">
			</button>
		</div>
		<div class="modal-popup-container-filters" id="modal-popup-hidden-filters">
			<form action="/filterItems" method="get" class="modal-filters" id="filterForm">
				<label>Служби</label><br>
				@for (int i = 0; i < Model.Sectors.Count; i++)
				{
					<input type="checkbox" id="checkboxFilter@i" name="sector" class="sector-checkbox" value=@Model.Sectors[i].Id />
					<label for="sector">@Model.Sectors[i].Name</label>
					<br>
				}
				<button type="submit" id="submitButtonFilters" class="btn btn-modal">Застосувати</button>
			</form>
		</div>
	</nav>
</div>
<div class="users-table-content">
	<table class="data-table">
		<thead class="data-table-thead">
			<tr class="data-table-tr">
				<th class="data-table-th" hidden>itemId</th>
				<th class="data-table-th">Назва</th>
				<th class="data-table-th">Номенклатурний номер</th>
				<th class="data-table-th" hidden>unitId</th>
				<th class="data-table-th">Одиниці виміру</th>
				<th class="data-table-th">Штат</th>
				<th class="data-table-th">Вага</th>
				<th class="data-table-th">Опис</th>
				<th class="data-table-th" hidden>sectorId</th>
				<th class="data-table-th">Назва служби</th>
				<th class="data-table-th"></th>
			</tr>
		</thead>
		<tbody id="itemsList" class="scroll">
			@{
				ViewDataDictionary viewData = new ViewDataDictionary(ViewData);
				viewData.Add("RoleId", Model.RoleId);
			}
			@Html.Partial("/Views/Dictionaries/Items/_ItemsList.cshtml", @Model.Items, viewData)
		</tbody>
	</table>
</div>
@Html.Partial("/Views/Forms/ItemForm/AddItem.cshtml", @Model)