@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using DiplomaWebService.Common.Enum
@using DiplomaWebService.Models.ViewModel.Invoice;
@model InvoiceOutViewModel
<div class="app-content">
    <div class="main-header">
        <div class="top-header">
            <h2>Накладні видача</h2>
        </div>
        <div class="btn-header">
            <button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
        </div>
    </div>
    <nav class="nav">
        @if (Model.RoleId == (int)Roles.Viewer)
        {
            <button type="button" class="btn btn-add-user" onclick="openModalForm()" disabled>
                <img src="img/plus.svg">Додати
            </button>
        }
        else
        {
            <button type="button" class="btn btn-add-user" onclick="openModalForm()">
                <img src="img/plus.svg">Додати
            </button>
        }
		<div class="right-actions">
            <input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук..." onkeydown="searchInvoiceOut(event)">
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
    <table>
        <thead>
            <tr>
                <th hidden>Invoice Id</th>
                <th>Дата</th>
                <th>Номер</th>
                <th hidden>Destination Id</th>
                <th>Відправник</th>
                <th hidden>Sender Id</th>
                <th>Отримувач</th>
                <th hidden>Invoice Type Id</th>
                <th>Тип накладної</th>
                <th hidden>Sector Id</th>
                <th>Служба</th>
                <th hidden>Document Type Id</th>
                <th>Тип документа</th>
                <th>Позиції</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="scroll" id="invoiceOutList">
            @Html.Partial("/Views/Invoices/_InvoiceOutList.cshtml", @Model.InvoicesOut)
        </tbody>
    </table>
</div>
@Html.Partial("/Views/Forms/InvoiceForm/AddInvoiceOut.cshtml", Model)