@using DiplomaWebService.Common.Enum
@using DiplomaWebService.Models.ViewModel.Invoice.In;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model InvoiceInViewModelInvoiceList
<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Накладні прихід</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
    <nav class="nav">
        @if (Model.RoleId == (int)Roles.Viewer)
        {
            <a href="invoiceIn" class="btn btn-add-user" id="addInvoice" disabled>
                <img src="img/plus.svg">Додати
            </a>
        }
        else
        {
            <a href="invoiceIn" class="btn btn-add-user" id="addInvoice" disabled>
                <img src="img/plus.svg">Додати
            </a>
        }
		<div class="right-actions">
            <input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук..." onkeydown="searchInvoiceIn(event)">
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
    <table class="data-table">
        <thead class="data-table-thead">
            <tr class="data-table-tr">
                <th class="data-table-th" hidden>Invoice Id</th>
                <th class="data-table-th">Дата</th>
                <th class="data-table-th">Номер</th>
                <th class="data-table-th" hidden>Destination Id</th>
                <th class="data-table-th">Відправник</th>
                <th class="data-table-th" hidden>Sender Id</th>
                <th class="data-table-th">Отримувач</th>
                <th class="data-table-th" hidden>Invoice Type Id</th>
                @* <th class="data-table-th">Тип накладної</th> *@
                <th class="data-table-th" hidden>Sector Id</th>
                <th class="data-table-th">Служба</th>
                <th class="data-table-th" hidden>Document Type Id</th>
                <th class="data-table-th">Тип документа</th>
                @* <th class="data-table-th">Позиції</th> *@
                <th class="data-table-th"></th>
            </tr>
        </thead>
        <tbody class="scroll" id="invoiceInList">
            @Html.Partial("/Views/Invoices/_InvoiceInList.cshtml", @Model.InvoicesIn)
        </tbody>
    </table>
</div>
@* @Html.Partial("/Views/Forms/InvoiceForm/AddInvoiceIn.cshtml", Model) *@