@{
    Layout = null;
}
@* <head>
    <link rel ="stylesheet" href="~/css/LoginForm/Login.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
</head>
<div class="loginForm">
	<form action="/login" method="post" class="login-form">
		<div class="form-group">
			<input type="text" class="input-field loginInput" name="login" id="login" value="" placeholder="Логін">
			<input type="text" class="input-field passwordInput" name="password" id="password" value="" placeholder="Пароль">
			<button type="submit" class="btn btn-login" value="">Почати</button>
		</div>
	</form>
</div> *@
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~css/normalize.css" asp-append-version="true" />
</head>
<body>
	<form action="/login" method="post" class="login-form">
		<div class="main-logo-container">
			<img src="../img/main_logo.svg">
			<div class="form-group">
				<input type="text" class="input-field loginInput" name="username" id="login" value="" placeholder="Логін" required>
				<input type="password" class="input-field passwordInput" name="password" id="password" value="" placeholder="Пароль" required>
				<button type="submit" class="btn btn-login" value="">Почати</button>
			</div>
		</div>
	</form>

</body>