@{
}
<head>
    <link rel ="stylesheet" href="~/css/LoginForm/Login.css" asp-append-version="true" />
</head>
<div class="loginForm">
    <form action="/login" method="post">
        <input type="text" class="loginInput" id="username" name="username" value="" placeholder="login"><br>
        <input type="text" class="loginInput" id="password" name="password" value="" placeholder="password"><br><br>
        <input type="submit" class="formButton"  id="submit" value="Submit">
    </form>
</div>