@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Склад</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		<button type="add-user" class="btn btn-add-user">
			<img src="img/admin.svg">Додати
		</button>
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук...">
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
	<table>
		<tr>
			<th class="hidden">stockItemId</th>
			<th>Amount</th>
			<th class="hidden">ItemId</th>
			<th>Item name</th>
			<th class="hidden">CategoryId</th>
			<th>Category name</th>
			<th class="hidden">UnitId</th>
			<th>Unit name</th>
			<th>Price name</th>
		<tr>
				@* @for (int i = 0; i < @Model.StockItem.Count(); i++) *@
		<tr>
			<td id="stockItemId" class="hidden"><label>stockItemId</label></td>
			<td id="Amount"><label>Amount</label></td>
			<td id="ItemId" class="hidden"><label>ItemId</label></td>
			<td id="ItemName"><label>Item name</label></td>
			<td id="CategoryId" class="hidden"><label>CategoryId</label></td>
			<td id="CategoryName"><label>Category name</label></td>
			<td id="UnitId" class="hidden"><label>UnitId</label></td>
			<td id="UnitName"><label>Unit name</label></td>
			<td id="Price"><label>Price</label></td>
		</tr>
	</table>
</div>