@using DiplomaWebService.Models.ViewModel
@using DiplomaWebService.Common.Enum
@model BaseViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>

	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet" href="css/normalize.css" />
</head>
<body>
	<div class="sidebar-page">
		<!--sidebar-->
		<section class="sidebar-outer">
			<div class="sidebar-wrapper">
				<div class="logo-container">
					@* <h1>LOGO</h1> *@
					<img src="img/logo.svg">
				</div>
				<nav>
					<ul class="nav-wrapper">
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Invoice" class="sidebar-link" href="/invoicesIn">
								<div class="small-icon-container">
									<img src="img/admin.svg">
								</div>
								<div class="sidebar-link-text">Накладні прихід</div>
							</a>
						</li>
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Invoice" class="sidebar-link" href="/invoicesOut">
								<div class="small-icon-container">
									<img src="img/admin.svg">
								</div>
								<div class="sidebar-link-text">Накладні видача</div>
							</a>
						</li>
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Depot" class="sidebar-link" href="/stockItems">
								<div class="small-icon-container">
									<img src="img/warehouse.svg">
								</div>
								<div class="sidebar-link-text">Склад</div>
							</a>
						</li>
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Reports" class="sidebar-link" href="reports.html">
								<div class="small-icon-container">
									<img src="img/reports.svg">
								</div>
								<div class="sidebar-link-text">Звіти</div>
							</a>
						</li>
						<li class="accordion-item">
							<input class="accordion-item-input" type="checkbox" id="accordion-dictionary">
							<label class="accordion-trigger" for="accordion-dictionary">
								<img src="img/dictionary.svg">
								<span class="sidebar-link-text">Довідники</span>
							</label>
							<a title="Agents" class="accordion-content sidebar-menu-text" href="/contragents">Контрагенти</a>
							<a title="Property" class="accordion-content sidebar-menu-text" href="/items">Майно</a>
							<a title="Units" class="accordion-content sidebar-menu-text" href="/units">Одиниці виміру</a>
						</li>
						@if(@Model.RoleId!=(int)Roles.Admin)
						{
							<li class="nav-ul-item nav-ul-item--active">
								<a title="Administration" class="sidebar-link" href="/users">
									<div class="small-icon-container">
										<img src="img/admin.svg">
									</div>
									<div class="sidebar-link-text">Адміністрування</div>
								</a>
							</li>
						}						
					</ul>
				</nav>
				<div class="user-info-wrapper">
					<div class="user-info">@Model.UsernameFirstLetter</div>
					<div class="user-name">
						<a title="logout" class="sidebar-link" href="/logout">
							<div class="sidebar-link-text">@Model.Username</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!--/sidebar-->
		<!--main-->
		<section class="section-outer">
			@RenderBody()
		</section>
		<!--/main-->

	</div>
	<script type="text/javascript">
				var invoiceOutRowCounter = -1;
				var invoiceInRowCounter = -1;
				function closeModalForm() {
					document.getElementsByClassName('modal')[0].style.display = "none";
					invoiceOutRowCounter = -1;
					invoiceInRowCounter = -1;
				}
				function openModalForm() {
					document.getElementsByClassName('modal')[0].style.display = "block";
				}		
				function ReassessmentWithCoeffOpen() {
					document.getElementById('reassessmentWithCoefForm').style.display = "block";
				}
				function AddInvoiceFormClose() {
					let form = document.getElementById("addInvoiceInForm");

					if (form) {
						form.reset(); // Reset all form fields to their default values
					}

					let itemRowContainer = document.getElementById("itemRow");
					if (itemRowContainer) {
						itemRowContainer.innerHTML = ""; // Remove dynamically added rows
					}

					document.getElementById("addInvoiceInForm").style.display = "none"; // Hide the modal
				}
				function ReassessmentWithCoeffClose() {
					let form = document.getElementById("reassessmentWithCoefForm");

					if (form) {
						form.reset();
					}
					document.getElementById('reassessmentWithCoefForm').style.display = "none";
				}
				function ReassessmentWithoutCoeffOpen(stockId, displayText) {
					document.getElementById('showStockItemId').value=stockId;
					document.getElementById('displayText').value=displayText;
					document.getElementById('reassessmentWithoutCoefForm').style.display = "block";
				}
				function ReassessmentWithoutCoeffClose() {
					let form = document.getElementById("reassessmentWithoutCoefForm");

					if (form) {
						form.reset();
					}

					document.getElementById('reassessmentWithoutCoefForm').style.display = "none";
				}
				function removeRow(button) {
					button.parentElement.remove();
				}

				function addInvoiceOutPosition() {
					let container = document.getElementById("itemRow");
					invoiceOutRowCounter++;

					var stockOptions = "";
					var stockSelect =  document.querySelector("select[name^='StockItemId']");

					if (stockSelect) {
						stockOptions = stockSelect.innerHTML;
					} else {
						console.warn("StockItemId dropdown not found! Ensure it's available in the initial form.");
					}

					let newRow = document.createElement("div");
					newRow.classList.add("row-item");

					newRow.innerHTML = `
								<div class="user-modal-block">
									<div class="user-modal-label">Майно:</div>
									<div class="input-field-wrapper">
										<select class="input-field dropdown" name="invoicePositions[${invoiceOutRowCounter}].StockItemId" required>
											${stockOptions}
										</select>
										<div class="separator"></div>
									</div>
								</div>
								<div class="user-modal-block">
									<div class="user-modal-label">Кількість</div>
									<div class="input-field-wrapper">
										<input type="text" class="input-field" name="invoicePositions[${invoiceOutRowCounter}].Amount" placeholder="Кількість" required>
										<div class="separator"></div>
									</div>
								</div>
								<button type="button" class="remove-btn" onclick="removeRow(this)">❌</button>
							`;

					container.appendChild(newRow);
				}

				function addInvoiceInPosition() {
					let container = document.getElementById("itemRow");
					invoiceInRowCounter++;

					var itemOptions = "";
					var itemSelect =  document.querySelector("select[name^='getItemId']");

					if (itemSelect) {
						itemOptions = itemSelect.innerHTML;
					} else {
						console.warn("getItemId dropdown not found! Ensure it's available in the initial form.");
					}

					var unitOptions = "";
					var unitSelect =  document.querySelector("select[name^='getUnitId']");

					if (unitSelect) {
						unitOptions = unitSelect.innerHTML;
					} else {
						console.warn("getUnitId dropdown not found! Ensure it's available in the initial form.");
					}

					var categoryOptions = "";
					var categorySelect = document.querySelector("select[name^='getCategoryId']");

					if (categorySelect) {
						categoryOptions = categorySelect.innerHTML;
					} else {
						console.warn("getItemId dropdown not found! Ensure it's available in the initial form.");
					}

					let newRow = document.createElement("div");
					newRow.classList.add("row-item");

					newRow.innerHTML = `
										<div class="user-modal-block">
											<div class="user-modal-label">Майно:</div>
											<div class="input-field-wrapper">
												<select class="input-field dropdown" name="positions[${invoiceInRowCounter}].ItemId" required>
													${itemOptions}
												</select>
												<div class="separator"></div>
											</div>
										</div>
										<div class="user-modal-block">
											<div class="user-modal-label">Кількість</div>
											<div class="input-field-wrapper">
												<input type="number" class="input-field" name="positions[${invoiceInRowCounter}].Amount" placeholder="Кількість" required>
												<div class="separator"></div>
											</div>
										</div>
										<div class="user-modal-block">
											<div class="user-modal-label">Ціна</div>
											<div class="input-field-wrapper">
												<input type="number" class="input-field" name="positions[${invoiceInRowCounter}].Price" placeholder="Ціна" required>
												<div class="separator"></div>
											</div>
										</div>
										// <div class="user-modal-block">
										// 	<div class="user-modal-label">Одиниці виміру:</div>
										// 	<div class="input-field-wrapper">
										// 		<select class="input-field dropdown" name="positions[${invoiceInRowCounter}].UnitId" required>
										// 			${unitOptions}
										// 		</select>
										// 		<div class="separator"></div>
										// 	</div>
										// </div>
										<div class="user-modal-block">
											<div class="user-modal-label">Категорія:</div>
											<div class="input-field-wrapper">
												<select class="input-field dropdown" name="positions[${invoiceInRowCounter}].CategoryId" required>
													${categoryOptions}
												</select>
												<div class="separator"></div>
											</div>
										</div>
										<div class="user-modal-block">
										<div class="user-modal-label">Серійний номер:</div>
											<div class="input-field-wrapper">
												<input type="text" class="input-field" name="positions[${invoiceInRowCounter}].SerialNumber" placeholder="Серійний номер">
												<div class="separator"></div>
											</div>
										</div>
										<div class="user-modal-block">
											<div class="user-modal-label">Рік випуску:</div>
											<div class="input-field-wrapper">
												<input type="number" class="input-field" name="positions[${invoiceInRowCounter}].ProductionYear" placeholder="Рік випуску" min="1900">
												<div class="separator"></div>
											</div>
										</div>
										<button type="button" class="remove-btn" onclick="removeRow(this)">❌</button>
									`;

					container.appendChild(newRow);
				}

				function searchContragents(event) {
					if(event.key === 'Enter') {
						let searchValue = document.getElementById("search").value;
						let Http = new XMLHttpRequest();
						let url = "/searchContragents/"+encodeURIComponent(searchValue);
						 Http.open("GET", url);
						 Http.send(); // No data needed for GET request

						Http.onreadystatechange = function () {
							if (Http.readyState === 4 && Http.status === 200) {
								console.log(Http.responseText);

								document.getElementById("search").value = "";
							}
						};
					}
				}

				function searchItems(event) {
				if(event.key === 'Enter') {
					let searchValue = document.getElementById("search").value;
					let Http = new XMLHttpRequest();
					let url = "/searchItems/"+encodeURIComponent(searchValue);
						Http.open("GET", url);
						Http.send(); // No data needed for GET request

					Http.onreadystatechange = function () {
						if (Http.readyState === 4 && Http.status === 200) {
							console.log(Http.responseText);

							document.getElementById("search").value = "";
						}
					};
				}
			}

			function searchUnits(event) {
				if(event.key === 'Enter') {
					let searchValue = document.getElementById("search").value;
					let Http = new XMLHttpRequest();
					let url = "/searchUnits/"+ encodeURIComponent(searchValue);
						Http.open("GET", url);
						Http.send(); // No data needed for GET request

					Http.onreadystatechange = function () {
						if (Http.readyState === 4 && Http.status === 200) {
							console.log(Http.responseText);

							document.getElementById("search").value = "";
						}
					};
				}
			}
	</script>
</body>
</html>
