<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>

	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet" href="css/normalize.css" />
</head>
<body>
	<div class="sidebar-page">
		<!--sidebar-->
		<section class="sidebar-outer">
			<div class="sidebar-wrapper">
				<div class="logo-container">
					<h1>LOGO</h1>
				</div>
				<nav>
					<ul class="nav-wrapper">
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Invoice" class="sidebar-link" href="/invoices">
								<div class="small-icon-container">
									<img src="img/admin.svg">
								</div>
								<div class="sidebar-link-text">Накладні</div>
							</a>
						</li>
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Depot" class="sidebar-link" href="/stockItems">
								<div class="small-icon-container">
									<img src="img/admin.svg">
								</div>
								<div class="sidebar-link-text">Склад</div>
							</a>
						</li>
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Reports" class="sidebar-link" href="reports.html">
								<div class="small-icon-container">
									<img src="img/admin.svg">
								</div>
								<div class="sidebar-link-text">Звіти</div>
							</a>
						</li>
						<li class="accordion-item">
							<input class="accordion-item-input" type="checkbox" id="accordion-dictionary">
							<label class="accordion-trigger" for="accordion-dictionary">
								<img src="img/dictionary.svg">
								<span class="sidebar-link-text">Довідники</span>
							</label>
							<a title="Agents" class="accordion-content sidebar-menu-text" href="/contragents">Контрагенти</a>
							<a title="Property" class="accordion-content sidebar-menu-text" href="/items">Майно</a>
							<a title="Units" class="accordion-content sidebar-menu-text" href="/units">Одиниці виміру</a>
						</li>
						<li class="nav-ul-item nav-ul-item--active">
							<a title="Administration" class="sidebar-link" href="/users">
								<div class="small-icon-container">
									<img src="img/admin.svg">
								</div>
								<div class="sidebar-link-text">Адміністрування</div>
							</a>
						</li>
					</ul>
				</nav>
				<div class="user-info-wrapper">
					<div class="user-info"></div>
					<div class="user-name">Копійка</div>
				</div>
			</div>
		</section>
		<!--/sidebar-->
		<!--main-->
		<section class="section-outer">
			@RenderBody()
		</section>
		<!--/main-->

	</div>
	<script type="text/javascript">
		function closeModalForm() {
			document.getElementsByClassName('modal')[0].style.display = "none";
		}
		function openModalForm() {
			document.getElementsByClassName('modal')[0].style.display = "block";
		}
		function showParentOrganization() {
			// Get the checkbox
			var checkBox = document.getElementById("isParentOrganizationExist");
			// Get the output text
			var parentId = document.getElementById("parentId");

			// If the checkbox is checked, display the output text
			if (checkBox.checked == true) {
				parentId.style.display = "block";
				parentId.removeAttribute("disabled");
			} else {
				parentId.style.display = "none";
				parentId.setAttribute("disabled", "true");
			}
		}
		function ReassessmentWithCoeff() {
			// Get the checkbox
			var checkBox = document.getElementById("hasCoeff");
			// Get the output text
			var coeff = document.getElementById("coeff");
			var newPrice = document.getElementById("newPrice");

			// If the checkbox is checked, display the output text
			if (checkBox.checked == true) {
				coeff.style.display = "block";
				coeff.removeAttribute("disabled");
				newPrice.style.display = "none";
				newPrice.setAttribute("disabled", "true");
			} else {
				coeff.style.display = "none";
				coeff.setAttribute("disabled", "true");
				newPrice.style.display = "block";
				newPrice.removeAttribute("disabled");
			}
			function submitForm(actionUrl) {
				const form = document.getElementById('reassessmentForm');
				form.action = actionUrl;
				form.submit();
			}
	</script>
</body>
</html>
